body {
    background-color: beige;
    width: 960px;
    margin: auto;
    border: 1px solid black;
    
}
@keyframes mymove{
    10% {letter-spacing: 10px;}
}
h1 {
    font-size: 40px;
    letter-spacing: 2px;
    animation: mymove 3s ease-in;
}
p {
    padding: 10px;
    
}
ul {
    list-style: circle;
    margin: 25px;
}
ol {
    list-style: decimal;
    margin: 25px;
}
footer{
    padding: 5px;
    color: blue;
}