body {
    background-color: beige;
    width: 960px;
    margin: auto;
    border: 1px solid black;
    
}
p {
    padding: 10px;
}
ul {
    list-style: circle;
    margin: 25px;
}
ol {
    list-style: decimal;
    margin: 25px;
}
footer{
    padding: 5px;
    color: blue;
}